Source: xmlrpc-epi
Priority: extra
Maintainer: Robin Cornelius <robin.cornelius@gmail.com>
Uploaders: Paul TBBle Hampson <paul.hampson@pobox.com>
Homepage: http://xmlrpc-epi.sourceforge.net/
Build-Depends: debhelper (>= 5), autotools-dev, libexpat1-dev, pkg-config
Standards-Version: 3.7.3
Section: libs
Vcs-SVN: svn://slupdate.byteme.org.uk/xmlrpc-epi/xmlrpc-epi/
Vcs-Browser: http://slupdate.byteme.org.uk/svn/listing.php?repname=Debian+Secondlife+repository&path=%2Fxmlrpc-epi%2Fxmlrpc-epi%2F&rev=0&sc=0

Package: libxmlrpc-epi-dev
Section: libdevel
Architecture: any
Depends: libxmlrpc-epi0 (= ${binary:Version})
Description: Development files for libxmlrpc-epi0, a XML-RPC request library
 An implementation of the XML-RPC protocol, providing an API for developers to
 serialise RPC requests to and from XML. It does not include any transport layer
 and is therefor useful for applications which implement their own transport or
 wish to use XML-RPC over an existing transport layer. This package contains
 the development files for applications wishing to use libxmlrpc-epi.

Package: libxmlrpc-epi0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: A XML-RPC request serialisation/deserialisation library
 A library that implements a transportless implementation of the XML-RPC
 protocol.

Package: libxmlrpc-epi0-dbg
Section: libdevel
Architecture: any
Depends: libxmlrpc-epi0 (= ${binary:Version})
Description: Debug symbols for libxmlrpc-epi0, a XML-RPC request library
 This package contains the debug symbols for libxmlrpc-epi0, and should be
 installed if you wish to get stack traces into the library for debugging
 purposes.

